body {
    /*margin: 60px auto;*/
    /*width: 70%;*/
    font-family: 'Montserrat', 'Sans-Serif'
}

footer {
    border-top: 1px solid #d5d5d5;
    /*background-color: #f2f2f2;*/
    font-size: .8em
}

.container {
    margin: 30px auto;
    width: 70%
}

p.btitle {
    font-size: 2em;
    font-weight: bold;
    line-height: 0em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif'

}

/* Start css for nav block and blog title */
.blogtitle {
    margin: 20px auto;
    width: 90%;
}

.blognav {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    background-color: #f2f2f2;
}

.pagination {
    background-color: #f2f2f2;
    display: inline-block;
    padding: 10px
}
/* End css for nav block */

nav ul, footer ul {
    font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px
}

a {
    text-decoration: none;
    color: #999
}

a.blue {
    color: #005580;
}

a.smallblue {
    font-size: 1em;
    color: #005580
}

a.verysmallblue {
    font-size: 0.8em;
    color: #005580
}

a:hover {
    text-decoration: underline
}

a.blognav:hover {
    color: #333333;
    text-decoration: none
}

h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-left: -2px
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333
}

p.lowheight {
    line-height: 0em!important
}

p.verysmall {
    font-size: 0.8em;
    line-height: 0em
}

p.verysmallgray {
    font-size: 0.8em;
    line-height: 0.5em;
    color: #404040
}

.verysmallgray {
  font-size: 0.8em;
  color: #404040
}

p.smallgray {
    font-size: 1em;
    color: #404040
}

.smallgray {
  font-size: 1em;
  color: #404040
}

.lightgray {
color: #999
}

/* Start css for inline code */
.inlinec {
    padding: 2px 4px;
    font-size: 90%;
    background-color: #f2f2f2;
    border-radius: 4px
}
/* End css for inline code */

/* Start css for summary block */
.summary::before {
    content: "Summary: ";
    font-weight: 600;
    color: #000000
}

.summary {
    padding: 4px 4px 4px 6px;
    overflow: auto;
    font-size: 110%;
    color: #404040;
    border: 1px solid #eee;
    border-left: 4px solid #99d6ff;
    margin: 20px 0
}
/* End css for summary block */

/* Start social media config */
.mysocialMedia {
    display: inline-block;
    margin-right: 5px;
}

.stwitter,
.sgithub,
.slinkedin
{
float: left;
margin-right: 5px;
width: 32px;
height: 32px
}

.stwitter{
    background: url("../images/icons/Twitter.png") no-repeat;
    background-size: 32px 32px
}

.sgithub{
    background: url("../images/icons/GitHub.png") no-repeat;
    background-size: 32px 32px
}

.slinkedin{
    background: url("../images/icons/LinkedIn.png") no-repeat;
    background-size: 32px 32px
}
/* End social media config*/

/* Start recipe config */
.ingredientsh {
    padding-left: 5px;
    border: 1px solid #a0e4e4;
    border-bottom: 1px solid transparent;
    line-height: 1.5px;
    margin-top: 20px;
    background-color: #d6f5f5
}

.ingredientsb {
    padding-left: 5px;
    border: 1px solid #a0e4e4;
    border-top: 1px solid transparent
}

.recmethodh {
    padding-left: 5px;
    border: 1px solid #df9b9c;
    border-bottom: 1px solid transparent;
    line-height: 1.5px;
    margin-top: 20px;
    background-color: #f5d6d6
}

.recmethodb {
    padding-left: 5px;
    border: 1px solid #df9b9c;
    border-top: 1px solid transparent
}
/* End recipe config*/

/* Start img class */
img.photo {
border-radius: 8px;
}

img.round {
border-radius: 50%;
}

img.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

img.screenshot {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* End img class*/
