<header>
  <div class="blogtitle">
    <p class="btitle">Deepti Korwar</p>
  	<p class="smallgray">technical writing, recipes, and short stories</p>
	</div>
  <div class="blognav">
    <nav>
      <div class="blogtitle">
        <ul>
          <li><a class="blognav" href="/">Home</a></li>
          <li><a class="blognav" href="/aboutme">About</a></li>
          <li><a class="blognav" href="/blog">Categories</a></li>
          <li><a class="blognav" href="/archives">Archives</a></li>
          <li><a class="blognav" href="/search">Search</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
