<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google meta-->
		{% include google_verification.html %}
		{% if site.google_ad_client %}{% include google_adsense.html %}{% endif %} 
		<title>{{ page.title }}</title>
		<div class="blogtitle">
  	<p class="btitle">Deepti Korwar</p>
  	<p class="smallgray">technical writing, recipes, and short stories</p>
		<div class="alert alert-danger" role="alert">
  		This site is currently under construction and <strong>not ready</strong> for use.
		</div>
		</div>
		<!-- link to web fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Bootstrap CDN CSS-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- start link to favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"
		<!-- end link to favicon -->
		{% seo %}
	</head>
	<body>
		<div class="blognav">
			<nav>
			<div class="blogtitle">
				<ul>
					<li><a class="blognav" href="/">Home</a></li>
					<li><a class="blognav" href="/aboutme">About</a></li>
					<li><a class="blognav" href="/blog">Categories</a></li>
					<li><a class="blognav" href="/archives">Archives</a></li>
					<li><a class="blognav" href="/search">Search</a></li>
				</ul>
			</div>
			</nav>
		</div>
		<div class="container">

			{{ content }}

		</div><!-- /.container -->
		<footer>
		<div class="blogtitle">
			<ul>
        <!--
				<li><a href="mailto:kdeepti2013@gmail.com">contact me</a></li>
        -->
				<li><span class="lightgray">&#169; 2020 Deepti Korwar. All rights reserved.</span></li>
			</ul>
		</div>
		</footer>
		<!-- Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>
